@import '../../global.scss';

.pf-main {
  position: relative;
  background-color: $--theme-ui-colors-background;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .pf-desktop {
    display: flex;

    .pf-main-card {
      height: 160px;
      width: 160px;
      // top: 50%;
      // left: 50%;
      background-color: $--theme-ui-colors-secondary;
      color: $--theme-ui-colors-text;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: 20px;
      border-radius: 8%;
      box-shadow: rgb(0 0 0) 0px 0px 0px 3px inset, rgb(0 0 0) 4px 4px 0px;
      margin: 0 10px;
      transition: transform 0.2s; /* Animation */

      .pf-main-card-icon {
        height: 76px;
      }

      &:hover {
        transform: scale(0.9);
      }
    }
  }

  @media (max-width: 992px) {
    .pf-desktop {
      top: 50%;
      left: 50%;
      display: grid;
      transform: translateX(-50%) translateY(-50%) translateZ(0px);

      div {
        margin: 7px 0;

        .pf-main-card {
          width: 150px;
          height: 150px;
        }
      }
    }
  }
}
