@import '../../global.scss';
.pf-hobby {
  z-index: 0;
  height: 600px;
  width: 855px;
  background-color: $--theme-ui-colors-primary;
  max-height: calc(100% - 16px);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgb(0 0 0) 0px 0px 0px 3px, rgb(0 0 0) 6px 4px 0px 2px;

  .pf-hobby-header {
    display: flex;
    background-color: $--theme-ui-colors-secondary;
    color: $--theme-ui-colors-text;
    padding: 12px;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgb(0 0 0) 0px -2px inset;
    font-weight: 600;

    .pf-hobby-header-right-close-button {
      background-color: $--theme-ui-colors-red;
      border: 0px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      border-radius: 50%;
      box-shadow: rgb(0 0 0) 0px 0px 0px 2.5px inset;
    }

    .pf-hobby-header-right-fullscreen-button {
      margin-right: 5px;
      background-color: $--theme-ui-colors-green;
      border: 0px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      border-radius: 50%;
      box-shadow: rgb(0 0 0) 0px 0px 0px 2.5px inset;
    }
  }

  .pf-hobby-body {
    display: flex;
    width: 100%;
    padding: 16px;
    overflow: auto;

    .pf-hobby-body-left {
      width: 35%;

      .pf-hobby-body-left-title {
        box-sizing: border-box;
        margin: 0px 0px 12px;
        min-width: 0px;
        font-family: inherit;
        color: $--theme-ui-colors-text;
        font-variant: small-caps;
        font-weight: bold;
        font-size: 20px;
      }

      .pf-hobby-body-left-folder {
        cursor: pointer;
        text-decoration: none;
        width: 100%;
        list-style-type: none;
        display: flex;
        flex-direction: column;

        .pf-folder {
          padding: 7px;
          cursor: pointer;

          button {
            display: flex;
            align-items: center;
            background-color: $--theme-ui-colors-primary;
            border: none;
            margin-left: -5px;
            cursor: pointer;
          }
          p {
            cursor: pointer;
            margin-left: 10px;
            font-size: 15px;
            font-weight: 500;
          }
        }

        .pf-folder.active {
          cursor: pointer;
          background-color: $--theme-ui-colors-secondary;
          border-radius: 6px;
          box-shadow: rgb(0 0 0) 0px 0px 0px 2px inset;

          button {
            background-color: $--theme-ui-colors-secondary;
          }
        }
      }
    }

    .pf-hobby-body-right {
      width: 60%;
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 16px;
      padding-bottom: 16px;
      display: flex;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      font-weight: 400;
      font-size: 15px;
    }

    .pf-hobby-body-right-title {
      box-sizing: border-box;
      margin: 0px;
      min-width: 0px;
      font-family: inherit;
      font-size: 25px;
    }

    .pf-hobby-description {
      margin-top: 18px;
      margin-bottom: 24px;
      font-style: italic;
    }

    .pf-hobby-body-right-empty {
      margin: 0;
      min-width: 0;
      color: $--theme-ui-colors-muted;
      text-align: center;
      font-size: 14px;
    }

    .pf-hobby-body-right.empty {
      display: flex;
      justify-content: center;
    }
  }
}
