@import '../../global.scss';

.pf-cvAndEmail {
  box-sizing: border-box;
  margin-top: 12px;
  min-width: 0px;

  a {
    margin-top: 14px;
    margin-left: 0;
    display: flex;
    align-items: center;
    height: 45px;
    text-decoration: none;
    color: $--theme-ui-colors-text;
    background-color: rgba(243, 235, 217, 0.06);
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    -webkit-box-align: center;
    width: 150px;
    transition: all 0.5s ease 0s;

    .pf-cvAndEmail-title {
      padding: 12px 16px;
    }

    &:hover {
      background-color: $--theme-ui-colors-secondary;
    }
  }
}

@media (max-width: 992px) {
  .pf-cvAndEmail {
    display: flex;
    a {
      width: 115px;
      margin: 0 4px;

      .pf-cvAndEmail-title {
        // display: none;
        font-size: 15px;
        padding: 12px 0px;
        margin-left: -5px;
      }

      .pf-cvAndEmail-icon {
        border: none;
        align-self: center;
      }
    }
  }
}

.pf-cvAndEmail-icon {
  padding: 4px 16px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 32px;
}
