.dashboard {
  display: flex;
}
.dashboard-page {
  width: 100vw;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
@media (min-width: 992px) {
  .dashboard {
    grid-template-columns: auto 1fr;
  }
}
