$--theme-ui-colors-background: #d7eae6;
$--theme-ui-colors-secondary: #f3ebd9;
$--theme-ui-colors-primary: #f8f3e7;
$--theme-ui-colors-shadow: black;
$--theme-ui-colors-text: black;
$--theme-ui-colors-mutedReverse: rgba(0, 0, 0, 0.8);
$--theme-ui-colors-highlight: #f9a48c;
$--theme-ui-colors-red: #f8c3c5;
$--theme-ui-colors-muted: rgba(0, 0, 0, 0.6);
$--theme-ui-colors-green: #cbe7c5;
$--theme-ui-colors-red-really: #fc683f;
