@import '../../global.scss';
.pf-aboutme {
  height: 600px;
  width: 855px;
  background-color: $--theme-ui-colors-primary;
  max-height: calc(100% - 16px);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgb(0 0 0) 0px 0px 0px 3px, rgb(0 0 0) 6px 4px 0px 2px;

  .pf-aboutme-header {
    display: flex;
    background-color: $--theme-ui-colors-secondary;
    color: $--theme-ui-colors-text;
    padding: 12px;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgb(0 0 0) 0px -2px inset;
    font-weight: 600;

    .pf-aboutme-header-right-close-button {
      background-color: $--theme-ui-colors-red;
      border: 0px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      border-radius: 50%;
      box-shadow: rgb(0 0 0) 0px 0px 0px 2.5px inset;
    }
    .pf-aboutme-header-right-fullscreen-button {
      margin-right: 5px;
      background-color: $--theme-ui-colors-green;
      border: 0px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      border-radius: 50%;
      box-shadow: rgb(0 0 0) 0px 0px 0px 2.5px inset;
    }
  }

  .pf-aboutme-content {
    display: flex;
    padding: 60px 16px 16px 16px;
    flex: 1 1 0%;
    overflow: auto;
    box-sizing: border-box;
    margin: 0px;
    height: 100%;

    .pf-aboutme-content-left {
      box-sizing: border-box;
      margin: 0px;
      min-width: 0px;
      text-align: center;
      flex-shrink: 0;
      .pf-profile-pic {
        height: 200px;
        width: 200px;
        border-radius: 4%;
        box-shadow: rgb(0, 0, 0) 0px 0px 0px 1px;
      }
    }

    .pf-aboutme-content-right {
      padding: 16px;
      text-align: justify;
      margin-left: 16px;

      .pf-aboutme-content-right-header {
        .pf-aboutme-content-right-title {
          margin: 0;
          min-width: 0;
          font-family: inherit;
          text-align: unset;
          font-size: 32px;

          .pf-aboutme-name {
            color: $--theme-ui-colors-highlight;
            font-weight: bold;
          }
        }

        .pf-aboutme-content-right-role {
          box-sizing: border-box;
          margin: 0;
          min-width: 0;
          color: $--theme-ui-colors-muted;
          margin-bottom: 24px;
          text-align: unset;
        }
      }
    }

    .pf-aboutme-content-right-description {
      margin-bottom: 24px;
      font-size: 21px;
    }

    .pf-aboutme-content-right-facts-and-trivias {
      display: flex;
      justify-content: flex-start;

      .pf-aboutme-link {
        font-size: 10px;
        list-style: initial;
        margin-top: 1px;
        border-radius: 8px;
        background-color: $--theme-ui-colors-secondary;
        padding: 10px;
        box-shadow: rgb(0 0 0) 0px 0px 0px 1.5px inset;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          h5 {
            box-sizing: border-box;
            min-width: 0px;
            font-family: inherit;
            color: $--theme-ui-colors-text;
            font-variant: small-caps;
            font-size: 19px;

            span {
              font-size: 20px;
              font-weight: 600;
              color: $--theme-ui-colors-red-really;
            }
          }
        }

        &:nth-child(2) {
          margin-left: 30px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .pf-aboutme {
    height: 650px;
    width: 360px;
    max-height: calc(100% - 16px);

    .pf-aboutme-content {
      display: flex;
      flex-direction: column;

      .pf-aboutme-content-right-description {
        font-size: 20px;
      }

      .pf-aboutme-content-right-facts-and-trivias {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .pf-aboutme-link {
          margin: 5px 0;
          width: 250px;

          &:nth-child(2) {
            margin-left: 0;
          }
          a {
            h5 {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
